<!DOCTYPE html>
<html>
<head>
    <title>لوحة الإدارة</title>
</head>
<body>
    <h2>قائمة التلاميذ</h2>
    <table border="1">
        <tr>
            <th>الرقم</th>
            <th>اللقب</th>
            <th>الاسم</th>
            <th>القسم</th>
            <th>الفوج</th>
            <th>الهاتف</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student[0] }}</td>
            <td>{{ student[1] }}</td>
            <td>{{ student[2] }}</td>
            <td>{{ student[3] }}</td>
            <td>{{ student[4] }}</td>
            <td>{{ student[5] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
